.daily__amazing {
    width: 100%;
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    .daily__amazing__center {
        width: 98%;
        max-width: 1644px;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-image: url(../../../Images/amazing-page/daily-amazing/deal-pattern.svg), linear-gradient(180deg, #e6123d, #c60c31);
        background-repeat: repeat-x;
        border-radius: 15px;
    }
}