.digiplus {
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  .digiplus__center {
    width: 100%;
    max-width: 1336px;
    height: inherit;
    background-color: #941b80;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    .digiplus_right {
      width: 34%;
      height: 100%;
      background-image: url(../../Images/digiplus/plus-widget.png);
      background-size: 372px 279px;
      background-repeat: no-repeat;
      background-position: bottom;
      padding: 30px;
      & h5 {
        font-size: 14px;
        font-family: var(--RYekan);
        font-weight: normal;
        color: white;
        margin-bottom: 10px;
      }
      .digiplus__sign__in {
        width: 110px;
        height: 40px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
        & h6 {
          font-size: 14px;
          font-family: var(--RYekan);
          font-weight: normal;
          color: white;
        }
      }
    }
    .digiplus_left {
      width: 66%;
      height: 100%;
      background-color: white;
      border-radius: 15px;
      .left__top {
        width: 100%;
        height: 16%;
        display: flex;
        justify-content: space-between;
        .left__top__left,
        .left__top__right {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
        }
        .left__top__right {
          margin-right: 20px;
          & h5 {
            font-family: var(--RYekan);
            font-size: 14px;
          }
        }
        .left__top__left {
          margin-left: 15px;
          cursor: pointer;
          & h6 {
            font-family: var(--RYekan);
            font-size: 13px;
            color: #941b80;
            font-weight: normal;
          }
        }
      }
      .left__center, .left__bottom {
        width: 100%;
        height: 42%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .digiplus__item {
          width: 116px;
          height: 116px;
          & a {
            width: 100%;
            height: 100%;
            & img {
              width: inherit;
              height: inherit;
            }
          }
        }
      }
    }
  }
}
