footer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid var(--border);
  .footer__center {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    .first__footer {
      width: 96%;
      max-width: 1636px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & button {
        width: 140px;
        height: inherit;
        background-color: white;
        border: 1px solid var(--border);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        cursor: pointer;
        & p {
          font-family: var(--RYekan);
          font-size: 12px;
          color: black;
          opacity: 0.75;
        }
      }
    }
    .second__footer {
      width: 96%;
      max-width: 1636px;
      height: 26px;
      margin-top: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & p {
        font-family: var(--RYekan);
        font-size: 13px;
        opacity: 1;
        line-height: 26px;
      }
      & div {
        width: 40px;
        height: inherit;
        text-align: center;
        line-height: 22px;
        opacity: 0.8;
      }
    }
    .third__footer {
      width: 96%;
      max-width: 1636px;
      height: 104px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 32px 10px;
      .third__footer__link {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        & {
          font-family: var(--RYekan);
          font-size: 12px;
          font-weight: 500;
          margin-top: 5px;
        }
      }
    }
    .fourth__footer {
      width: 96%;
      max-width: 1636px;
      height: 270px;
      margin-bottom: 32px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      & nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .fourth__footer__item {
          width: auto;
          height: 100%;
          .fourth__footer__title {
            font-family: var(--RYekan);
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 18px;
            color: rgb(63, 64, 100);
          }
          .fourth__footer__link {
            display: block;
            font-family: var(--RYekan);
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            color: #81858b;
            margin-bottom: 18px;
          }
          .socia__media {
            width: 100%;
            height: 40px;
            margin-bottom: 32px;
            & a {
              margin-left: 32px;
              text-decoration: none;
            }
          }
          & input[type="email"] {
            width: 260px;
            height: 48px;
            border: none;
            background-color: #f0f0f1;
            border-radius: 10px;
            margin-left: 5px;
          }
          & input[type="email"]:focus {
            border: none;
            outline: none;
          }
          & input[type="email"]::placeholder {
            font-family: var(--RYekan);
            font-size: 14px;
            font-weight: bold;
            color: #acafb3;
            padding-right: 20px;
          }
          & button {
            width: 54px;
            height: 48px;
            border: none;
            background-color: #e0e0e2;
            border-radius: 10px;
            color: white;
            font-family: var(--RYekan);
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
    .fifth__footer {
      width: 97%;
      max-width: 1636px;
      height: 75px;
      background-color: #3c4b6d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .fifth__footer__center {
        width: 95%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fifth__footer__right {
          width: 25%;
          height: inherit;
          display: flex;
          align-items: center;
          column-gap: 10px;
          & img {
            width: 44px;
            height: 44px;
            object-fit: cover;
          }
          & h5 {
            font-family: var(--RYekan);
            font-size: 22px;
            font-weight: 500;
            color: #f0f0f1;
          }
        }
        .fifth__footer__left {
          width: 75%;
          height: inherit;
          display: flex;
          justify-content: flex-end;
          column-gap: 15px;
          & img {
            width: 142px;
            height: 44px;
            border-radius: 7px;
          }
          .seen__more {
            width: 42px;
            height: 44px;
            border-radius: 7px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            & svg {
              transform: scale(1.8);
            }
          }
        }
      }
    }
    .sixth__footer {
      width: 97%;
      max-width: 1636px;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 32px 0;
      border-top: 1px solid var(--border);
      margin-top: 32px;
      .sixth__footer__right {
        width: 72%;
        height: fit-content;
        .sixth__footer__right__center {
          width: 100%;
          height: 130px;
          line-height: 28px;
          overflow: hidden;
          position: relative;
          border-bottom: 1px solid white;
          padding-left: 40px;
          & h2 {
            font-family: var(--RYekan);
            font-size: 21px;
            font-weight: bold;
            color: #62666d;
            margin-bottom: 10px;
          }
          & h5 {
            font-family: var(--RYekan);
            font-size: 16px;
            font-weight: bold;
            color: #62666d;
            margin-bottom: 10px;
          }
          & p {
            font-family: var(--RYekan);
            font-size: 12px;
            font-weight: normal;
            color: #62666d;
            margin-bottom: 10px;
            opacity: 0.9;
            & a {
              text-decoration: none;
              color: #19bfd3;
            }
          }
        } 
        & label[for="more"], & label[for="less"] {
          font-family: var(--RYekan);
          font-size: 13px;
          font-weight: 500;
          color: #19bfd3;
          cursor: pointer;
          & svg {
            transform: translateY(3px);
            margin-right: 5px;
          }
        }
        #more:checked ~ .sixth__footer__right__center {
          overflow: visible;
          height: 1800px;
        }
        #less:not(:checked) ~ label[for="more"] {
          display: none;
        }
        #more, #less {
          display: none;
        }
        .gradiant {
          position: absolute;
          width: 100%;
          height: 130px;
          background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
          top: 0;
          left: 0;
        }
        #more:checked ~ .sixth__footer__right__center .gradiant {
          all: unset;
        }
      }
      .sixth__footer__left {
        width: 28%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        & a {
          width: 109px;
          height: 109px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--border);
          border-radius: 10px;
          & img {
            width: 75px;
            height: 75px;
            object-fit: contain;
          }
        }
      }
    }
    .seventh__footer {
      width: 97%;
      max-width: 1636px;
      height: 90px;
      border-top: 1px solid var(--border);
      & p {
        font-family: var(--RYekan);
        font-size: 12px;
        font-weight: normal;
        color: #62666d;
        opacity: 0.9;
        text-align: center;
        line-height: 90px;
      }
    }
    .eighth__footer {
      width: 100%;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f1;
      .eighth__footer__center {
        width: 100%;
        max-width: 1636px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & a,
        .divide__by__seven {
          width: 12.5%;
          height: 80px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid var(--border);
          border-left: 1px solid var(--border);
        }
        .divide__by__seven {
          width: 14.28%;
          border-bottom: none;
        }
        .no__lb {
          border-left: none;
        }
      }
    }
  }
}
