.readings {
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .readings__center {
    width: 100%;
    max-width: 1336px;
    height: inherit;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .readings__top {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      & h5 {
        font-family: var(--RYekan);
        font-size: 16px;
        font-weight: 550;
      }
      .readings__seen__more {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        & a {
          text-decoration: none;
          font-family: var(--RYekan);
          font-size: 13px;
          color: #2fc6e0;
        }
        & span {
          & svg {
            transform: scale(0.8);
          }
        }
      }
    }
    .readings__bottom {
      width: 100%;
      height: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      .readings__bottom__item {
        width: 323px;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border);
        border-radius: 10px;
        .readings__bottom__link {
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: space-between;
          & img {
            width: 100%;
            height: 72%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
          }
          & p {
            width: 100%;
            height: 28%;
            font-family: var(--RYekan);
            font-size: 12px;
            font-weight: normal;
            color: black;
            opacity: 0.9;
            margin: 0 auto;
            line-height: 30px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
